@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(236, 236, 236);
  font-family: "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

h2 {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
}

h3 {
  font-family: "Open Sans", serif;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
}

p {
  font-family: "Open Sans", serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 10px;
  opacity: 0.9;
}

.weather-app {
  margin: 1% auto;
  width: 550px;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.weather-app > h1 {
  border-bottom: 1px solid red;
}

.input-box {
  position: relative;
  top: -6px;
  width: 60%;
  height: 1.2rem;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}
.button{
  position: relative;
  width: 20%;
  top: -18px;
  left: 233px;
  height: .5rem;
  padding: 25px;
  min-width: 100px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background: linear-gradient(180deg,
      rgba(193, 0, 212, 1) 0%,
      rgba(255, 113, 42, 1) 100%);
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  color: #E0E1E4;
  font-size: bold;
}

.button:hover {
  background: linear-gradient(30deg,
      rgb(0, 174, 255) 0%,
      rgb(81, 71, 226) 100%);
  box-shadow: 0px 0px 20px -18px;
}

.button:active {
  transform: scale(0.95);
}

.set-units {
  position: relative;
  width: 21%;
  height: 20px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}

.input-box > .label {
  position: absolute;
  font-family: "Open Sans", serif;
  top: 10px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
}
.set-units>.label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", serif;
  display: block;
}


.input-box > input {
  position: absolute;
  top: 33px;
  left: 10px;
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 13px;
}
.set-units>.label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", serif;
  display: block;
}

.set-units>select {
  position: absolute;
  left: 7px;
  top: 35px;
  width: 140px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 13px;
  font-family: "Open Sans", serif;
  border-radius: 0px;
}

.main_panel{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.weather-report {
  position: relative;
  width: 90.5%;
  height: 325px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
}

.big {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0px;
  display: inline;
}

.weather-report > .conditions {
  position: absolute;
  top: 45px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.2px;
}

.main_panel > img {
  position: absolute;
  width: 70px;
  right: 25px;
  top: 20px;
  background: rgb(235, 168, 141);
  border-radius: 50px;
}

.weather-report > .container {
  position: absolute;
  top: 30%;
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.box {
  height: 100%;
}

.container > .temperature > div {
  position: relative;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(193, 0, 212, 1) 0%,
    rgba(255, 113, 42, 1) 100%
  );
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  flex: auto;
}

.container > .wind > div {
  position: relative;
  text-align: center;
  background: linear-gradient(
    30deg,
    rgb(148, 0, 148) 0%,
    rgb(224, 71, 143) 100%
  );
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  flex: auto;
}

.container > .pressure > div {
  position: relative;
  text-align: center;
  background: linear-gradient(
    30deg,
    rgb(0, 174, 255) 0%,
    rgb(81, 71, 226) 100%
  );
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  flex: auto;
}

.temperature{
  display: flex;
  flex-direction: row;
}

.wind {
  display: flex;
  flex-direction: row;
}
.pressure {
  display: flex;
  flex-direction: row;
}

.error-panel {
  position: absolute;
  top: 150px;
  content: "DD";
  width: 500px;
  height: 325px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
}

.error-panel::after {
  position: absolute;
  width: 500px;
  height: 325px;
  top: 170px;
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  content: "Oops! Looks like our server is down!";
  text-align: center;
}

.is-loading {
  position: relative;
  content: "DD";
  width: 500px;
  height: 325px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
}

.is-loading::after {
  position: absolute;
  width: 500px;
  height: 325px;
  top: 170px;
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  content: "Please wait...";
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }

  h2 {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
  }

  h3 {
    font-family: "Open Sans", serif;
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
  }

  p {
    font-family: "Open Sans", serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 10px;
    opacity: 0.9;
  }

  .weather-app {
    margin: 1% auto;
    width: auto;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    margin: 0 0px 0 -13px;
  }

  .weather-app>h1 {
    border-bottom: 1px solid red;
  }

  .input-box {
    position: relative;
    width: 45%;
    height: 1.2rem;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;

  }
    .input-box {
      position: relative;
      top: -6px;
      width: 60%;
      height: 1.2rem;
      padding: 25px;
      border: 1px solid rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      background-color: #fff;
      display: inline-block;
    }
  
    .button {
      position: relative;
      width: 20%;
      top: -18px;
      left: 233px;
      height: .5rem;
      padding: 25px;
      min-width: 100px;
      border-radius: 5px;
      border: 2.5px solid #E0E1E4;
      box-shadow: 0px 0px 20px -20px;
      cursor: pointer;
      background: linear-gradient(180deg,
          rgba(193, 0, 212, 1) 0%,
          rgba(255, 113, 42, 1) 100%);
      transition: all 0.2s ease-in-out 0ms;
      user-select: none;
      color: #E0E1E4;
      font-size: bold;
    }

  .set-units {
    position: relative;
    width: 28%;
    height: 20px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
  }

  .input-box>.label {
    position: absolute;
    font-family: "Open Sans", serif;
    top: 10px;
    left: 15px;
    font-size: 14px;
    font-weight: bold;
  }

  .set-units>.label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", serif;
    display: block;
  }


  .input-box>input {
    position: absolute;
    top: 33px;
    left: 10px;
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 13px;
  }

  .set-units>.label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", serif;
    display: block;
  }

  .set-units>select {
    position: absolute;
    left: 7px;
    top: 35px;
    width: 140px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    font-family: "Open Sans", serif;
    border-radius: 0px;
  }

  .main_panel {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
  }

  .weather-report {
    position: relative;
    width: 90.5%;
    height: 325px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
  }

  .big {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0px;
    display: inline;
  }

  .weather-report>.conditions {
    position: absolute;
    top: 45px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.2px;
    
  }

  .main_panel>img {
    position: absolute;
    width: 70px;
    right: 25px;
    top: 20px;
    background: rgb(235, 168, 141);
    border-radius: 50px;
    margin: 0 20px;
  }

  .weather-report>.container {
    position: absolute;
    top: 30%;
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 0 -10px;
  }

  .box {
    height: 100%;
  }

  .container>.temperature>div {
    position: relative;
    text-align: center;
    background: linear-gradient(180deg,
        rgba(193, 0, 212, 1) 0%,
        rgba(255, 113, 42, 1) 100%);
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    flex: auto;
  }

  .container>.wind>div {
    position: relative;
    text-align: center;
    background: linear-gradient(30deg,
        rgb(148, 0, 148) 0%,
        rgb(224, 71, 143) 100%);
    color: rgb(255, 255, 255);
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    flex: auto;
  }

  .container>.pressure>div {
    position: relative;
    text-align: center;
    background: linear-gradient(30deg,
        rgb(0, 174, 255) 0%,
        rgb(81, 71, 226) 100%);
    color: rgb(255, 255, 255);
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    flex: auto;
  }

  .temperature {
    display: flex;
    flex-direction: row;
  }

  .wind {
    display: flex;
    flex-direction: row;
  }

  .pressure {
    display: flex;
    flex-direction: row;
  }

  .error-panel {
    position: absolute;
    top: 150px;
    content: "DD";
    width: 500px;
    height: 325px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
  }

  .error-panel::after {
    position: absolute;
    width: 500px;
    height: 325px;
    top: 170px;
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    content: "Oops! Looks like our server is down!";
    text-align: center;
  }

  .is-loading {
    position: relative;
    content: "DD";
    width: 500px;
    height: 325px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
  }

  .is-loading::after {
    position: absolute;
    width: 500px;
    height: 325px;
    top: 170px;
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    content: "Please wait...";
    text-align: center;
  }

} 
